*,*::before,*::after{
    box-sizing: border-box;
    margin: 0%;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 500px;
    max-width: 80%;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    background-color: rgb(40,40,40);
    color: white;
    z-index: 10;
    transition: 200ms ease-in-out;

}
.container.active{
    transform: translate(-50%,-50%) scale(1);
}
.title{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
   
    align-items: center;

}
#close{
    border: none;
    color: white;
    background-color: rgb(40,40,40);
    font-weight: bold;
    cursor:pointer;
    outline: none;
}
.description{
    line-height: 1.2rem;
    word-spacing: 0.3rem;
}
#overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}


#overlay.active{
    opacity: 1;
    pointer-events: all;
}